/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Courier New', monospace;
    background: #0a0a0a;
    color: #e60000;
}

/* Header */
header {
    background: black;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid red;
}

nav a {
    color: #e60000;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-shadow: 0 0 10px red;
}

/* Hero */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: radial-gradient(circle, #1a0000, black);
}

/* Categorías */
#categorias {
    padding: 50px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #1a0000;
    padding: 20px;
    border: 1px solid red;
    width: 150px;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 0 15px red;
}

/* Historias */
#historias {
    padding: 50px;
}

.story {
    background: #111;
    padding: 20px;
    margin-bottom: 20px;
    border-left: 3px solid red;
}

.story h3 {
    margin-bottom: 10px;
}

/* Botón */
button {
    margin-top: 10px;
    padding: 10px 20px;
    background: black;
    color: red;
    border: 1px solid red;
    cursor: pointer;
}

button:hover {
    background: red;
    color: black;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid red;
}
